.clients__text {
    padding: 1rem 0;
}

.clients__text p {
    max-width: 21rem;
    text-align: center;
}

.clients__reviewCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.review {
    max-width: 25.5rem;
    padding: 1.8rem 1.5rem 6rem;
    margin: 0 0 2rem;
    box-shadow: var(--darkShadow);
}

.review__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.review__photo {
    width: 5rem;
    height: 5rem;
    margin: 0 1.5rem 0.5rem 0;
    border-radius: 50%;
    overflow: hidden;
}

.review__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review__clientName {
    width: 13rem;
}

.review__clientName p {
    font-family: 'Yeseva One', cursive;
    font-size: var(--I1);
    color: var(--mainBlack);
}

.review__body p {
    font-size: var(--O87);
    color: var(--greyText);
    line-height: 2rem;
}

.review__metrics {
    display: flex;
    margin: 3.5rem 0 -7.5rem -1.5rem;
}

.review__area,
.review__days {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1.8rem;
    background: var(--gold);
    box-shadow: var(--btnShadow);
}

.review__area {
    border-right: 1px solid var(--white);
}

.review__area p,
.review__days p {
    margin: 0 0 0 1.5rem;
    font-family: 'Yeseva One', cursive;
    font-size: var(--I1);
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
}

@media screen and (max-width: 1185px) {
    .clients__reviewCards {
        /* flex-wrap: wrap; */
    }
}